<header>
  <a href="/">back</a>  <h1>Delete script</h1>  
  <h2>Name</h2>
  <li><%= @script.name %></li> 
  <h2>Content</h2>
  <li><%= @script.content %></li>
  <a href="confirm_destroy?id=<%= @script.id %>">confirm and destroy</a> <br>
  <a href="/">back</a>
</header>